$IsSmallSmartPhone: "only screen and (max-device-width: 359px)";
$IsSmartPhone: "only screen and (max-device-width: 479px)";
$IsPhablet: "only screen and (max-device-width: 799px)";
$IsMobile: "only screen and (max-device-width: 991px)";
$IsDesktop: "only screen and (min-device-width: 992px)";