ichen-terminal {
	// Make sure to have enough specificity for the colors to override :hover, :active etc.
	.ichen-terminal.ichen-terminal.ichen-terminal.ichen-terminal.ichen-terminal {
		@import "terminal/_colors";
		@import "terminal/_others";
	}
}

ichen-terminal-display-box {
	font: {
		family: Arial, Helvetica, Helv, sans-serif;
		size: 20px;
	}
	color: black;
	margin: 0;
	padding: 0;
	@import "terminal/_display";
	&.frame-selected .ctrl-frame {
		background-color: lightgray;
	}
	terminal-controller {
		margin: 0 !important;
		width: 100%;
		.ctrl-frame {
			box-shadow: none;
			border-width: 0.1em;
			cursor: pointer;
			&:after {
				display: none;
			}
			.frame-label {
				text-align: center;
				font-size: 80%;
				font-style: italic;
				margin-bottom: 0.3em;
				color: lightgray;
			}
			.ctrl-item {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				height: 40px;
				line-height: 30px;
				padding: 5px 10px 4px 10px;
				overflow: visible;
				cursor: pointer;
				white-space: normal;
				&:hover,
				&.selected {
					border-width: 3px;
					border-color: navy;
					border-bottom: solid 2px navy;
					padding: 2px 8px;
					line-height: 32px;
				}
				&.ctrl-item-separator {
					height: 1px !important;
					line-height: 1px !important;
					border-width: 1px !important;
					border-bottom: none !important;
					padding: 0 !important;
				}
				/*
				&.selected {
					background-color: #286090;
					color: white;
					cursor: default;
				}
				*/
			}
		}
	}
}

ichen-terminal-formatting,
ichen-terminal-value-map {
	.sample-text {
		white-space: nowrap;
		justify-content: center;
		min-width: 4em;
		flex: 0.5 1 !important;
	}
}

ichen-terminal-value-maps-list {
	margin-top: 1.5em;
}

.ichen-terminal-line {
	.ichen-terminal-line-field {
		display: block;
		width: 100%;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
}

.ichen-terminal-line-marker-left {
	position: absolute;
	top: 0.3em;
	left: -1.5em;
	color: black;
}

.ichen-terminal-line-marker-right {
	position: absolute;
	top: 0.3em;
	right: -0.6em;
	color: black;
	span {
		position: absolute;
		cursor: pointer;
		&.disabled {
			color: lightgray;
			cursor: default;
		}
		&.glyphicon-arrow-up {
			left: 0;
			top: -0.6em;
		}
		&.glyphicon-arrow-down {
			left: 0;
			top: 0.65em;
		}
	}
}

ichen-terminal-formatting {
	.input-group-prepend {
		.input-group-text {
			min-width: auto !important;
		}
	}
}

.ichen-terminal-line-format {
	div.form-control>div {
		width: 100%;
		height: 100%;
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
}

.ichen-terminal-color {
	border-top-color: #aaa;
	border-bottom-color: #aaa;
}

ichen-terminal-value-map {
	&.ichen-list-item {
		margin-bottom: 0.5em;
	}
	.ichen-terminal-color {
		width: 5em;
		color: black;
		background-color: white;
	}
}

ichen-terminal-value-map-editor {
	&.ichen-list-item {
		margin-bottom: 0.5em;
	}
	.input-group {
		margin-bottom: 0.5em;
		&:last-child {
			margin-bottom: 0;
		}
		.input-group-prepend {
			&.negation {
				font-weight: bold;
				cursor: pointer;
				&:hover {
					background-color: gray;
					color: white;
				}
			}
		}
	}
}

ichen-terminal-add-field {
	.input-group {
		margin-bottom: 0.5em;
	}
}