@import "_macros";
@import "_common";
body {
	background: url(../images/common/background.png) repeat;
}

header {
	background-image: url(../images/common/header.jpg);
	background-size: 100% 100%;
	height: 1.8em;
	line-height: 1.8em;
	margin-bottom: 0;
	padding: 0 0.5em;
	font-size: 1.8em;
	font-weight: bold;
	white-space: nowrap;
	-ms-text-overflow: clip;
	-o-text-overflow: clip;
	text-overflow: clip;
	overflow: visible;
	img {
		height: 1.2em;
		margin: 0.3em 0;
		vertical-align: top;
	}
}

#logo-ichen {
	float: left;
	height: 3.5em;
	margin: 0.1em 0.5em 0 0;
}

#logo-ch {
	float: right;
	margin: 0;
}

#imgLoading {
	margin: 3em;
	img {
		width: 5em;
		height: 5em;
	}
}

#languages {
	margin-top: 0.5rem;
	height: 1.8rem;
	@media only screen and (max-width: 991px) {
		margin-bottom: 1rem;
	}
	a {
		margin-left: 0.5rem;
		cursor: pointer;
		&.active {
			opacity: 0.3;
			cursor: default;
		}
		img {
			height: 100%;
		}
	}
}

.ichen-nav {
	margin-top: 1em;
	padding-left: 0;
	.btn-group-vertical {
		max-width: 100%;
		min-width: 70%;
		.btn {
			text-align: left;
			&.active {
				font-weight: bold;
			}
		}
	}
}

.ichen-nav-shrink {
	margin: 1em -15px;
}

.ichen-content {
	padding: 1em 0 0 0;
}

ichen-home,
ichen-users-list,
ichen-user,
ichen-user-editor,
ichen-controllers-list,
ichen-controller,
ichen-controller-editor,
ichen-terminal,
ichen-terminal-display-box,
ichen-terminal-format,
ichen-terminal-value-maps-list,
ichen-terminal-value-map {
	display: block;
}

ichen-list-header {
	.header>div {
		margin: 0 0 1em 0;
		input {
			font-family: Courier New, Courier, monospace;
			font-weight: bold;
		}
	}
}

.title-bar-indicator {
	float: right;
	line-height: inherit;
}

.title-bar-button {
	cursor: default;
	float: right;
	line-height: inherit;
}

.form-control {
	.fill {
		width: 100%;
	}
	.extra-content {
		float: right;
		line-height: inherit;
		text-align: right;
		@media only screen and (min-width: 992px) {
			max-width: 70%;
		}
	}
}


/* Some Bootstrap 4 Overrides */

.close {
	font-size: 170%;
	color: inherit;
	opacity: 0.7;
	cursor: default;
	&:hover {
		color: inherit;
		opacity: 1;
	}
}

ichen-terminal-formatting {
	.custom-select {
		padding: 0.15rem;
		padding-right: 1rem;
		text-align: center;
	}
}

.buttons-strip {
	text-align: center;
	.first {
		float: left;
	}
	.last {
		float: right;
	}
}

.card {
	table.table {
		margin-bottom: 0;
	}
}

@import "_login";
@import "_home";
@import "_users";
@import "_controllers";
@import "_terminal";
@import "_logs";