<form *ngIf="!isBusy" class="card">
	<div class="card-header badge-primary"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;{{i18n.labelLogin}}</div>

	<div class="card-body">
		<div class="ichen-edit-id form-group" [class.has-danger]="!isValidUser || isError">
			<div class="input-group input-group-lg">
				<div class="input-group-prepend"><span class="input-group-text">{{i18n.labelUserName}}</span></div>

				<input name="input-username" [ngModel]="user" type="text" class="form-control form-control-danger" placeholder="{{i18n.labelEnterUserName}}"
				       (input)="$event.target.value=user=$event.target.value.trim()" />
			</div>
		</div>

		<div class="ichen-edit-id form-group" [class.has-danger]="!isValidPassword">
			<div class="input-group input-group-lg">
				<div class="input-group-prepend"><span class="input-group-text">{{i18n.labelPassword}}</span></div>

				<input name="input-password" [ngModel]="password" type="password" class="form-control form-control-danger"
				       placeholder="{{i18n.labelEnterPassword}}" (input)="$event.target.value=password=$event.target.value.trim()" />
			</div>
		</div>
	</div>

	<div class="card-footer buttons-strip">
		<button type="submit" [disabled]="!isValidUser || !isValidPassword" (click)="doLoginAsync($event)" class="btn btn-primary">
			<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;{{i18n.btnLogin}}
		</button>
	</div>
</form>

<div id="imgLoading" *ngIf="isBusy">
	<img src="images/common/loading.gif" />
</div>