<div class="input-group input-group-sm">
	<div class="input-group-prepend">
		<div class="input-group-text">
			<span>{{transform(info.field)}}</span>
			<span *ngIf="isNotNegated">=</span>
			<span *ngIf="isNegated">
				<>
			</span>
		</div>
	</div>

	<div class="form-control" [ngSwitch]="infoValue">
		<span *ngSwitchCase="null"><em>{{i18n.labelNothing}}</em></span>
		<span *ngSwitchCase="''"><em>{{i18n.labelBlank}}</em></span>
		<span *ngSwitchDefault>{{formatFieldValue(infoValue)}}</span>
	</div>

	<div class="input-group-append">
		<div class="input-group-text sample-text ichen-terminal-color {{defaultClasses}} {{info?.class }}"><span *ngIf="textColors">{{i18n.labelTextSample}}</span></div>

		<button type="button" (click)="editEvent.emit()" class="ichen-edit btn btn-sm btn-outline-secondary">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
	</div>
</div>